In [12]:
import pandas as pd
import numpy as np
import math

pd.set_option("display.precision", 2)

In [2]:
n_years = 3 # Over how long is the ramp up period
forecast_period = 10 # Length of period over which to forecast
hires_per_year = [1,0,2]
annual_attrition = .15 
revenue_goal = 1000 # Can be single value or list, where length of list must equal forecast_period

In [3]:
# Function to shrink or extend list to specific lenth
def size_list(l, length, pad=0):
    if len(l) >= length:
        del l[length:]
    else:
        l.extend([pad] * (length - len(l)))

In [13]:
# Ensure hire_per_year list matches forecast_period
size_list(hires_per_year, forecast_period)

# Create productivity matrix by cohort and year using nested list comprehension
productivity_list = [[min(max(n, 0)/n_years, 1) for n in range(1-i, forecast_period+1-i)] for i in range(forecast_period)]
productivity_df = pd.DataFrame(productivity_list)

# Apply hiring plan to productivity matrix to derive FTE count by cohort and year
fte_df = productivity_df.multiply(hires_per_year, axis=0)

# Translate FTE to actual number of employees
employee_count_df = fte_df.apply(np.ceil)

# Calculate expected attrition by year and derive retained employees by cohort and year
attrition_df = employee_count_df.multiply(annual_attrition, axis=0).cumsum(axis=1).apply(np.floor)
retained_employee_count_df = employee_count_df.subtract(attrition_df)
fte_retained_df = fte_df.subtract(attrition_df)

# Calculate revenue by cohort and year using retained FTE
revenue_df = fte_retained_df.multiply(revenue_goal)

fte_retained_df.index.name='Cohort'
revenue_df.loc['Sum of Revenue'] = revenue_df.sum()
fte_retained_df.loc['Sum of FTE'] = fte_retained_df.sum()

fte_retained_df_styled = fte_retained_df.style.set_caption('FTE by Cohort and Year')
display(fte_retained_df_styled)
display(revenue_df)

,0,1,2,3,4,5,6,7,8,9
Cohort,,,,,,,,,,
0,333.33,666.67,1000.00,1000.00,1000.0,1000.0,0.0,0.0,0.0,0.0
1,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0
2,0.00,0.00,666.67,1333.33,2000.0,1000.0,1000.0,1000.0,1000.0,0.0
3,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0
4,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0
5,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0
6,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0
7,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0
8,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0
9,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0
Sum of Revenue,333.33,666.67,1666.67,2333.33,3000.0,2000.0,1000.0,1000.0,1000.0,0.0